body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
}

header {
    width: available;
}

.topNav {
    height: 6vh;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #151515;
}

main {
    margin-top: 6vh;
}

.topNav-centered {
    font-size: 150%;
    float: none;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topNav-right {
    font-size: 125%;
    float: right;
    position: relative;
    height: 100%;
}

.topNav-right a {
    height: 100%;
    display: flex;
    float: left;
    align-items:center;
    justify-content:center;
    color: orangered;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.topNav-right a.active {
    color: crimson;
}

.topNav-right a.active:hover {
    text-shadow: 0 0 4px crimson;
}

.topNav-right a:not(.active):hover {
    text-shadow: 0 0 4px orangered;
}