html {
    height: 100%;
}

body {
    background: black;
    height: 100%;
}

div {
    max-width: 350px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#twitter {
    background: #1DA1F2;
    background: linear-gradient(45deg, #1DA1F2 0%, #E1E8ED 100%);
}

#instagram {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#tiktok {
    background: #FE2C55;
    background: linear-gradient(45deg, #FE2C55 0%, #25F4EE 100%);
}

h2 {
    text-align: center;
    padding: 10px;
    color: black;
    text-shadow: 1px 1px 5px white;
    border: 2px solid black;
    border-radius: 5px;
}